.blank-state-row
  - if has_start_trial?
    = render_if_exists "dashboard/projects/blank_state_ee_trial"

  = link_to new_project_path, class: "blank-state blank-state-link" do
    .blank-state-icon
      = custom_icon("add_new_project", size: 50)
    .blank-state-body
      %h3.blank-state-title
        新建项目
      %p.blank-state-text
        实现多人协作、文章管理、代码存储、议题创建与访问等功能

  - if current_user.can_create_group?
    = link_to new_group_path, class: "blank-state blank-state-link" do
      .blank-state-icon
        = custom_icon("add_new_group", size: 50)
      .blank-state-body
        %h3.blank-state-title
          新建群组
        %p.blank-state-text
          更好的组织项目和人员

    = link_to new_admin_user_path, class: "blank-state blank-state-link" do
      .blank-state-icon
        = custom_icon("add_new_user", size: 50)
      .blank-state-body
        %h3.blank-state-title
          新建用户
        %p.blank-state-text
          添加项目成员和其他人员到VCO

  = link_to admin_root_path, class: "blank-state blank-state-link" do
    .blank-state-icon
      = custom_icon("configure_server", size: 50)
    .blank-state-body
      %h3.blank-state-title
        配置VCO
      %p.blank-state-text
        针对VCO运行作出合适调整
