.blank-state-row
  - if current_user.can_create_project?
    = link_to new_project_path, class: "blank-state blank-state-link" do
      .blank-state-icon
        = custom_icon("add_new_project", size: 50)
      .blank-state-body
        %h3.blank-state-title
          新建项目
        %p.blank-state-text
          实现多人协作、文章管理、代码存储、议题创建与访问等功能
  - else
    .blank-state
      .blank-state-icon
        = custom_icon("add_new_project", size: 50)
      .blank-state-body
        %h3.blank-state-title
          新建项目
        %p.blank-state-text
          如果您被添加到其他项目中，会在此处进行展示

  - if current_user.can_create_group?
    = link_to new_group_path, class: "blank-state blank-state-link" do
      .blank-state-icon
        = custom_icon("add_new_group", size: 50)
      .blank-state-body
        %h3.blank-state-title
          新建群组
        %p.blank-state-text
          群组是管理项目和成员的最佳方式

  = link_to trending_explore_projects_path, class: "blank-state blank-state-link" do
    .blank-state-icon
      = custom_icon("globe", size: 50)
    .blank-state-body
      %h3.blank-state-title
        浏览公共项目
      %p.blank-state-text
        公共项目是允许每个人都能够浏览

  = link_to help_path, class: "blank-state blank-state-link" do
    .blank-state-icon
      = custom_icon("lightbulb", size: 50)
    .blank-state-body
      %h3.blank-state-title
        深入了解VCO
      %p.blank-state-text
        查看文档，了解VCO的更多特性
