.blank-state-parent-container
  .section-container.section-welcome{ class: "#{ 'section-admin-welcome' if current_user.admin? }" }
    .container.section-body
      .row
        .blank-state-welcome.w-100
          %h2.blank-state-welcome-title{ data: { qa_selector: 'welcome_title_content' } }
            = _('欢迎来到VCO')
          %p.blank-state-text
            = _('更方便地创作、更好地协作、更优质的推广、更少的烦恼')
        - if current_user.admin?
          = render "blank_state_admin_welcome"
        - else
          = render "blank_state_welcome"
