.modal{
    background-color: rgba(0, 0, 0, 0.08);
    /*From Right/Left */
    &.drawer{
  
      display: flex !important;
  
      pointer-events: none;
      * {
        pointer-events: none;
      }
  
      .modal-dialog{
        margin: 0px;
        display: flex;
        flex: auto;
        transform: translate(25%, 0);
        .modal-content{
          border:none;
          border-radius: 0px;
          .modal-body{
            overflow: auto;
          }
        }
  
      }
  
      &.show{
        pointer-events: auto;
        * {
          pointer-events: auto;
        }
        .modal-dialog{
          transform: translate(0, 0);
        }
      }
  
      &.right-align{
        flex-direction: row-reverse;
      }
  
    }
  
  
  }

  body[data-page="posts:show"] {
    .comment-item {
      font-size: $gl-font-size;
      padding: $gl-padding 0 $gl-padding 56px;
      border-bottom: 1px solid $white-normal;
      color: $gl-text-color-secondary;
      position: relative;
      line-height: $gl-line-height-20;

      .system-note-image {
        position: absolute;
        left: 0;
    
        svg {
          fill: $gl-text-color-secondary;
        }
      }

      .system-note-image{
        &.opened-icon,
        &.created-icon {
          svg {
            fill: $green-300;
          }
        }
    
        &.closed-icon svg {
          fill: $red-300;
        }
    
        &.accepted-icon svg {
          fill: $blue-300;
        }
    
        &.commented-on-icon svg {
          fill: $blue-600;
        }
      }

      .comment-user-info {
        margin-bottom: $gl-padding-4;
    
        .user-name {
          a {
            color: $gl-text-color;
            font-weight: $gl-font-weight-bold;
          }
        }
      }

      .comment-item-timestamp {
        float: right;
      }

      .comment-operation {
        span {
            .fas {
                font-size: 16px;
            }
        }
        .del .fas {
            color: red;

            &:hover {
              cursor: pointer;
            }
        }
    }
  }

}