body[data-page="posts:create"] {
    .error {
        h2 {
            color: red
        }
        li {
            color: red;
        }
    }
}

body[data-page="posts:new"], body[data-page="posts:edit"], body[data-page="posts:show"]{
    .form-group .error {
        color: red
    }
}