// 新建v-blog表单样式
.editor-form {
    position: relative;
    padding-bottom: 2em;
    margin-top: 20px;
    .editor-title {
        font-size: 36px;
        border: none;
        outline: none;
        font-weight: 600;
        width: 100%;
    }
    .medium-editable {
        min-height: 300px;
        outline: none;
        // font-family: 'Lora', Georgia, serif;
        font-size: 20px;
        line-height: 1.7;
        font-weight: 300;
        border: none;
        color: rgba(0,0,0, 0.8);
        line-height: 1.5;
        position: relative;
        left: -60px;
        padding-left: 60px;
    }
    .post-picture-upload {
        position: absolute;
        top: 8px;
        left: -50px;
        &:hover {
          cursor: pointer;
        }
        &.active {
          color: #00ab6b;
        }
    }
    .post-picture-upload-cancel {
        position: absolute;
        top: 50px;
        left: -50px;
        &:hover {
          cursor: pointer;
        }
        &.active {
          color: #00ab6b;
        }
    }
    
    label.post-picture-upload input[type="file"] {
        display: block;
        position: fixed;
        top: -1000px;
    }
    .file-upload-previewer,
    .existing-img-previewer {
        padding: 0 0 2em;
        > img {
            width: 100%;
        }
    }
}

  /* Override Taggle stylesheet. */
.taggle_list {
    padding: 0 !important;
    float: none !important;
    display: flex;
    flex-wrap: nowrap;
}
.taggle_placeholder {
    top: 3px !important;
    left: 0px !important;
}

 /* Override Medium Editor Insert Plugin. */
.medium-insert-buttons a {
    color: rgba(0,0,0,0.44);
}

.medium-editor-insert-plugin.medium-editor-placeholder:after {
  color: rgba(0,0,0,0.44);
  padding-left: 60px !important;
}

#publish-mode-toggle {
    border: none;
    color: #303030
}
.medium-editable.medium-editor-element.medium-editor-insert-plugin pre{
    background-color: rgba(242, 242, 242, 1);
}
.post-picture-upload {
  border: 1px solid rgba(0,0,0,0.44);
  border-radius: 20px;
  margin: 2px;
  color: rgba(0,0,0,0.44);
  display: inline-block;
  float: right;
  margin-right: 8px;
  transition: all .1s;
  width: 32px;
  height: 32px;
  position: relative;
  .fa-camera {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:hover{
    border: 1px solid #00ab6b;
    color: #00ab6b;
  }
}
.post-picture-upload-cancel {
    border: 1px solid rgba(0,0,0,0.44);
    border-radius: 20px;
    margin: 2px;
    color: rgba(0,0,0,0.44);
    display: inline-block;
    float: right;
    margin-right: 8px;
    transition: all .1s;
    width: 32px;
    height: 32px;
    position: relative;
    .fa-times {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:hover{
      border: 1px solid #00ab6b;
      color: #00ab6b;
    }
  }

body[data-page="posts:new"] {
  #collaboration-select {
    display: flex;
  }

  .dispaly {
    margin: 5px 0px 15px;
    h3{
      font-size: 21px;
      margin: 0px;
    }
  }
}