// post页面导航栏样式
body[data-page="posts:new"], 
body[data-page="posts:create"], 
body[data-page="posts:show"],
body[data-page="posts:edit"] {
    .navbar-brand {
        display: block;
        width: 167.84px;
        height: 60px;
        img {
            width: 167.84px;
            height: 50px;
        }
    }
    .navbar-nav  li  a {
        font-size: 16px;
    }
    .navbar {
        margin-bottom: 10px;
        border: none;
        .post-setting, .edit, .publish, .colloboration-center, .help, .enter{
            a {
                &:hover, &:focus, &:active {
                    color: #449B47;
                    background-color: transparent;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                }
            }
            
        }
    }
}
