/**
 * 个人中心处 posts feed
 *
 */
.post-item {
    font-size: $gl-font-size;
    padding: $gl-padding 0 $gl-padding 56px;
    border-bottom: 1px solid $white-normal;
    color: $gl-text-color-secondary;
    position: relative;
    line-height: $gl-line-height-20;
  
    .system-note-image {
      position: absolute;
      left: 0;
  
      svg {
        fill: $gl-text-color-secondary;
      }
    }
  
    .system-note-image{
      &.opened-icon,
      &.created-icon {
        svg {
          fill: $green-300;
        }
      }
  
      &.closed-icon svg {
        fill: $red-300;
      }
  
      &.accepted-icon svg {
        fill: $blue-300;
      }
  
      &.commented-on-icon svg {
        fill: $blue-600;
      }
    }
  
    .post-user-info {
      margin-bottom: $gl-padding-4;
  
      .user-name {
        a {
          color: $gl-text-color;
          font-weight: $gl-font-weight-bold;
        }
      }
    }

    .post-item-timestamp {
      float: right;
    }
    .post-title {
        a {
            color: $gl-text-color;
        }
    }
    .post-operation {
        span {
            margin-right: 5px;
            .fas {
                font-size: 16px;
            }
        }
        .del .fas {
            color: red;
        }
        .edit .fas {
            color: rgb(71, 69, 69);
        }
    }
}
  
@include media-breakpoint-down(xs) {
    .post-item {
        padding-left: 0;

        .post-user-info {
            margin-bottom: $gl-padding-4;
        }

        .post-title {
            white-space: normal;
            overflow: visible;
            max-width: 100%;
        }

        .system-note-image {
            display: none;
        }

        .post-item-timestamp {
        display: none;
        }
    }
}
  
