// post 详情页
body[data-page="posts:show"] {
    #article {
        .title {
            margin-top: 0.6em;
            h1 {
                font-size: 48px;
                line-height: 60px;
            }
        }
        .author {
            font-size: $gl-font-size;
            padding: $gl-padding 0 $gl-padding 56px;
            border-bottom: 1px solid $white-normal;
            color: $gl-text-color-secondary;
            position: relative;
            line-height: $gl-line-height-20;
            .system-note-image {
                position: absolute;
                left: 0;
            
                svg {
                  fill: $gl-text-color-secondary;
                }
            }
            
            .system-note-image{
                &.opened-icon,
                &.created-icon {
                  svg {
                    fill: $green-300;
                  }
                }
            
                &.closed-icon svg {
                  fill: $red-300;
                }
            
                &.accepted-icon svg {
                  fill: $blue-300;
                }
            
                &.commented-on-icon svg {
                  fill: $blue-600;
                }
            }
            
            .post-user-info {
                margin-bottom: $gl-padding-4;
            
                .user-name {
                  a {
                    color: $gl-text-color;
                    font-weight: $gl-font-weight-bold;
                  }
                }
            }

        }

        @include media-breakpoint-down(xs) {
            .author {
                padding-left: 0;
        
                .post-user-info {
                    margin-bottom: $gl-padding-4;
                }
        
                .system-note-image {
                    display: none;
                }
            }
        }

        .lead {
            padding: 15px 5px;
            margin-top: 15px;
            background-color: rgb(242, 242, 242);
            p {
                margin: 0px;
                i {
                    font-size: 17px;
                }
                
            }
        }

        .cover-picture {
            margin-top: 33px;
            display: flex;
            flex-wrap: wrap;
            img {
                max-height: 100%;
                min-width: 100%;
                object-fit: cover;
                vertical-align: middle;
            }
        }
        .content {
            h1 {
                font-size: 33px;
                line-height: 42px;
                font-weight: 500;
                
            }
            h2 {
                font-size: 28px;
                line-height: 37px;
                font-weight: 400;
            }
            p {
                margin-top: 15px;
                line-height: 32px;
                font-size: 21px;
                font-weight: 400;
            }
        }

    }
}

