body[data-page="posts:show"]{
    #post-float {
        width: 197px;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 200px;
        left: 129px;
        width: 100%;
        #user-posts a h2 {
            margin: 0;
        }

        a {
            text-decoration: none;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            color: rgb(41,41,41);

            &:hover {
                text-decoration: none;
                color: rgb(41,41,41)
            }
        }

        #author-intro {
            width: 197px;
            margin-bottom: 20px;

            h2 {
                display: block;
				font-size: 16px;
				margin-block-start: 0.83em;
				margin-block-end: 0.83em;
				margin-inline-start: 0px;
				margin-inline-end: 0px;
				font-weight: bold;
				line-height: 22px;
            }

            #email {
				margin-top: 3px;
				font-weight: 500;
				margin-block-start: 1em;
				margin-block-end: 1em;
				margin-inline-start: 0px;
				margin-inline-end: 0px;
				color: rgb(117,117,117);
				font-size: 10px;
				line-height: 19px;
			}

            #bio{
                padding: 2px 0 20px;
                p {
                    font-weight: 500;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                    color: rgb(117,117,117);
                    font-size: 10px;
                    line-height: 19px;
                }
            }

            #follow {
                width: 74.3px;
				height: 38px;
				border: 1px solid #1A8917;
				background-color: #1A8917;
				border-radius: 30px;
				text-align: center;
                display: table;
                a {
                    display: table-cell;
                    color: white;
                    vertical-align: middle;
                }
            }

            #following {
				width: 120.59px;
				height: 38px;
				border: 1px solid #1A8917;
				border-radius: 30px;
				text-align: center;
                display: table;
                a {
                    display: table-cell;
                    color: #1A8917;
                    vertical-align: middle;
                }
                span {
                    margin-top: 8px;
                    display: table;
                    .bv {
                        display: table-cell;
                        margin-left: 6px;
                        fill: #1A8917;
                        vertical-align: middle;  
                    }
                    
                }
                
			}


        }
        #post-operation {
            width: 197px;
            padding-top: 32px;
            border-top: 1px solid rgb(230,230,230);
            overflow: hidden;

            #clap-info {
				float: left;
				width: 52.98px;
				margin-right: 15px;
				overflow: hidden;
                #clap {
                    width: 29px;
                    height: 29px;
                    float: left;
                    margin-right: 5px;

                    button {
                        border: 0px;
                        outline: 0px;
                        cursor: pointer;
                        fill: rgba(41, 41, 41, 1);
                        background: transparent;
                        overflow: visible;
                        padding: 0px;

                        &:hover {
                            fill: rgba(117, 117, 117, 1);
                        }
                    }

                    .clapped {
                        border: 0px;
                        outline: 0px;
                        cursor: pointer;
                        fill: rgba(14, 160, 34, 1);
                        background: transparent;
                        overflow: visible;
                        padding: 0px;
                        &:hover {
                            fill: rgba(14, 160, 34, 1);
                        }
                    }
                }

                #clap-no-sign {
                    width: 29px;
                    height: 29px;
                    float: left;
                    margin-right: 5px;

                    button {
                        border: 0px;
                        outline: 0px;
                        cursor: pointer;
                        fill: rgba(41, 41, 41, 1);
                        background: transparent;
                        overflow: visible;
                        padding: 0px;

                        &:hover {
                            fill: rgba(117, 117, 117, 1);
                        }
                    }
                }

                #clap-count {
                    display: table;
                    float: left;
                    height: 29px;
                    p {
                        display: table-cell;
                        text-align: center;
                        font-size: 14px;
                        color: rgba(117, 117, 117, 1);
                        line-height: 20px;
                        font-weight: 400;
                        vertical-align: middle;
                    }
                    
                }
			}
            #comment-info {
				float: left;
				width: 52.98px;
				margin-right: 15px;
				overflow: hidden;
                #comment,  #comment-no-sign{
                    width: 25px;
                    height: 25px;
                    float: left;
                    margin-right: 5px;

                    button {
                        border: 0px;
                        outline: 0px;
                        cursor: pointer;
                        fill: rgba(41, 41, 41, 1);
                        background: transparent;
                        overflow: visible;
                        padding: 0px;
                        &:hover {
                            fill: rgba(117, 117, 117, 1);
                        }
                        
                    }
                }

                #comment-count {
                    display: table;
                    float: left;
                    height: 29px;
                    
                    p {
                        display: table-cell;
                        text-align: center;
                        font-size: 14px;
                        color: rgba(117, 117, 117, 1);
                        line-height: 20px;
                        font-weight: 400;
                        vertical-align: middle;
                    }
                }
			}

            #share {
                float: left;
                width: 52.97px;
                height: 29px;
                display: table;
                button {
                    height: 100%;
                    display: table-cell;
                    border: 0px;
                    outline: 0px;
                    cursor: pointer;
                    fill: rgba(41, 41, 41, 1);
                    background: transparent;
                    overflow: visible;
                    vertical-align: middle;
                }
            }
            #wechat-code {
                display: none;
                top:250px;
                left: 150px;
                width: 150px;
                height: 160px;
                position: fixed;
                background-color: #fff;
                padding: 15px;
                border: 3px;
                box-shadow: 0 2px 15px rgba(43, 42, 42, 0.15);
                z-index: 11101;
                line-height: 1.2em;
                #code-header {
                    font-size: 13px;
                    font-weight: 700;
                    button {
                        span {
                            cursor: pointer;
                        }
                        position: relative;
                        top: -7px;
                        right: -2px;
                    }
                }
                #output {
                    padding-left:1px; 
                    width:100px; 
                    height:100px; 
                    margin-left:11px;
                    background:#ffffff; 
                    font-weight: 600;
                    text-align: center; 
                    color: rgba(0, 0, 0, 0.9); 
                    font-size: 0.5cm;
        
                }
            }
        }
    }
}