.feed-item.row
    .col-md-8.ml-auto
        = icon_for_profile_post(feed_item)

        = post_user_info(feed_item)

        .feed-title.d-flex.flex-wrap
            %h3
                = link_to feed_item.title, post_path(feed_item), target: "_blank"
        - if feed_item.lead?
            .feed-lead.d-flex.flex-wrap
                %p
                    = feed_item.lead
        .bottom
            .feed-item-timestamp
                #{time_ago_with_tooltip(feed_item.created_at)}
            .sep
                %span
                    ·
            .read-time
                %span
                    阅读约#{reading_time(remove_javascript(feed_item.content).html_safe)}分钟
            - unless feed_item.post_tags.empty?
                .sep
                    %span
                        ·
                .tags
                    - feed_item.post_tags.each do |tag|
                        %span.tag
                            = link_to "#{tag.name}", post_tag_path(tag), target: "_blank"   
            
    .col-md-4.ml-auto
        - if feed_item.picture?
            = link_to post_path(feed_item), target: "_blank" do
                = image_tag feed_item.picture_url