- project_tab_filter = local_assigns.fetch(:project_tab_filter, "")
- feature_project_list_filter_bar = Feature.enabled?(:project_list_filter_bar)

= content_for :flash_message do
  = render 'shared/project_limit'

.page-title-holder.d-flex.align-items-center
  %h1.page-title= _('Projects')

  - if current_user.can_create_project?
    .page-title-controls
      = link_to _("New project"), new_project_path, class: "gl-button btn btn-confirm", data: { qa_selector: 'new_project_button' }

.top-area.scrolling-tabs-container.inner-page-scroll-tabs
  .fade-left= sprite_icon('chevron-lg-left', size: 12)
  .fade-right= sprite_icon('chevron-lg-right', size: 12)
  %ul.nav-links.scrolling-tabs.mobile-separator.nav.nav-tabs{ class: ('border-0' if feature_project_list_filter_bar) }
    = nav_link(page: [dashboard_projects_path, root_path]) do
      = link_to dashboard_projects_path, class: 'shortcuts-activity', data: {placement: 'right'} do
        = _("Your projects")
        %span.badge.gl-tab-counter-badge.badge-muted.badge-pill.gl-badge.sm= limited_counter_with_delimiter(@total_user_projects_count)
    = nav_link(page: starred_dashboard_projects_path) do
      = link_to starred_dashboard_projects_path, data: {placement: 'right'} do
        = _("Starred projects")
        %span.badge.gl-tab-counter-badge.badge-muted.badge-pill.gl-badge.sm= limited_counter_with_delimiter(@total_starred_projects_count)
    = nav_link(page: [explore_root_path, trending_explore_projects_path, starred_explore_projects_path, explore_projects_path]) do
      = link_to explore_root_path, data: {placement: 'right'} do
        = _("Explore projects")
    = nav_link(page: topics_explore_projects_path) do
      = link_to topics_explore_projects_path, data: {placement: 'right'} do
        = _("Explore topics")
    = render_if_exists "dashboard/removed_projects_tab", removed_projects_count: @removed_projects_count
  - unless feature_project_list_filter_bar
    .nav-controls
      = render 'shared/projects/search_form'
      = render 'shared/projects/dropdown'
- if feature_project_list_filter_bar
  .project-filters
    = render 'shared/projects/search_bar', project_tab_filter: project_tab_filter
