- page_title       "看见更多可能"
- has_impersonation_link = header_link?(:admin_impersonation)
- if current_user
    - user_status_data = user_status_properties(current_user)

%nav.navbar.navbar-expand-lg.navbar-light.feed-navbar.sticky-top#feed-nav-set
    .container-fluid.col-md-10.col-md-offset-1{style: 'padding:0px'}
        = link_to image_tag("logo-vco.svg", alt: "VCO", style: "height: 40px"), home_path, target: "_blank", class:"navbar-brand", style: "height: 50px"
        %button{class: "navbar-toggler",type:"button", 'data-toggle'=>"collapse", 'data-target'=>"#navbarSupportedContent", 'aria-controls'=>"navbarSupportedContent", 'aria-expanded'=>"false", 'aria-label'=>"Toggle navigation"}
            %span{class:"navbar-toggler-icon"} 

        .collapse.navbar-collapse#navbarSupportedContent
            %ul.navbar-nav.ml-auto
                - if top_nav_show_search
                    - search_menu_item = top_nav_search_menu_item_attrs
                    %li.nav-item.d-none.d-lg-block.m-auto
                    - unless current_controller?(:search)
                        - if Feature.enabled?(:new_header_search)
                            #js-header-search.header-search{ data: { 'search-context' => search_context.to_json,
                            'search-path' => search_path,
                            'issues-path' => issues_dashboard_path,
                            'mr-path' => merge_requests_dashboard_path,
                            'autocomplete-path' => search_autocomplete_path } }
                                %input{ type: "text", placeholder: _('Search or jump to...'), class: 'form-control gl-form-input' }
                        - else
                            = render 'layouts/search'
                    %li.nav-item{ class: 'd-none d-sm-inline-block d-lg-none' }
                        = link_to search_menu_item.fetch(:href), title: search_menu_item.fetch(:title), aria: { label: search_menu_item.fetch(:title) }, data: {toggle: 'tooltip', placement: 'bottom', container: 'body'} do
                            = sprite_icon(search_menu_item.fetch(:icon))
                %li.nav-item
                    = link_to '协作中心', root_path, target: "_blank"
                %li.nav-item
                    = link_to '发布V-blog', new_post_path, target: "_blank"
                %li.nav-item
                    = link_to '帮助', '#', target: "_blank"
                - if header_link?(:user_dropdown)
                    %li.nav-item.header-user.js-nav-user-dropdown.dropdown{ data: { track_label: "profile_dropdown", track_action: "click_dropdown", track_value: "", qa_selector: 'user_menu' }, class: ('mr-0' if has_impersonation_link) }
                        = link_to current_user, class: user_dropdown_class, target: "_blank", data: { toggle: "dropdown" } do
                            = image_tag avatar_icon_for_user(current_user, 23), width: 23, height: 23, class: "header-user-avatar qa-user-avatar", alt: current_user.name
                            = sprite_icon('chevron-down', css_class: 'caret-down')
                        .dropdown-menu.dropdown-menu-right
                            = render 'layouts/header/current_user_dropdown'
                - else 
                    %li.nav-item
                        = link_to '登录/注册', new_user_session_path
- if current_user
    - if can?(current_user, :update_user_status, current_user)
        .js-set-status-modal-wrapper{ data: user_status_data }

.site-intro
    .container-fluid.col-md-10.col-md-offset-1
        .site-intro-con#site-intro
            .intro-area
                .vco-slogan
                    %h1 
                        一个可以深度分享信息的地方
                .space
                .vco-slogan-intro 
                    %p  
                        阅读、协作、分享新的观点、想法、经验，每个人都能够参与到有价值的信息生产中，
                        = link_to '了解更多', '#'
                .get_started
                    .started-con
                        = link_to '开始', new_post_path, target: "_blank"
            .feed-pic-area 
                = image_tag('home-770.png', alt:"首页图片")
-# 热搜标题展示
.container-fluid.col-md-10.col-md-offset-1.trending 
    .trending-con
        .titile_desc
            .trending-pic 
                = link_to image_tag("trending.svg", alt: "VCO热搜"), "#"
            .trending-pic-text
                = link_to "VCO热搜", "#"
                %span#hot-refresh
                    = fa_icon(:sync_alt, 'aria-hidden'=>"true")
        .popular-dispaly-area#popular_list
            .flash-container
            .hot_content_list{ data: { href: popular_path } }           
.container-fluid.col-md-10.col-md-offset-1
    .row
        .col-6.col-md-6
            .feed-dispaly-area#feeds_list
                .flash-container
                .content_list{ data: { href: feeds_path } }
                .loading
                    .gl-spinner.gl-spinner-md
        .col-6.col-md-2
        .col-6.col-md-4.feed-tags#feed-tags
            .feed-tag-con 
                .desc 
                    %h3 发现热门标签
                    %span#tags-refresh
                        = fa_icon(:sync_alt, 'aria-hidden'=>"true")
                .tags-dispaly-area#tags_list
                    .flash-container
                    .tag_content_list{ data: { href: popular_tags_path } }
                .tag-all 
                    = link_to "查看全部标签", post_tags_path, target: "_blank"