- @html_class = "subscriptions-layout-html"
- page_title _('Your profile')
- add_page_specific_style 'page_bundles/signup'
- gitlab_experience_text = _('为了个性化提升您的VCO体验，我们想了解关于您的信息')

.row.gl-flex-grow-1
  .d-flex.gl-flex-direction-column.gl-align-items-center.gl-w-full.gl-px-5.gl-pb-5
    .edit-profile.login-page.d-flex.flex-column.gl-align-items-center
      = render_if_exists "registrations/welcome/progress_bar"
      %h2.gl-text-center= html_escape(_('欢迎来到VCO,%{br_tag}%{name}!')) % { name: html_escape(current_user.name), br_tag: '<br/>'.html_safe }
      - if Gitlab.com?
        %p.gl-text-center= html_escape(_('%{gitlab_experience_text}. 我们不会同其他人分享该信息。')) % { gitlab_experience_text: gitlab_experience_text }
      - else
        %p.gl-text-center= html_escape(_('%{gitlab_experience_text}. 别担心, 我们不会同其他人分享该信息。')) % { gitlab_experience_text: gitlab_experience_text }
      = form_for(current_user, url: users_sign_up_welcome_path, html: { class: 'card gl-w-full! gl-p-5', 'aria-live' => 'assertive' }) do |f|
        .devise-errors
          = render 'devise/shared/error_messages', resource: current_user
        .row
          .form-group.col-sm-12
            = f.label :role, _('Role'), class: 'label-bold'
            = f.select :role, ::User.roles.keys.map { |role| [role.titleize, role] }, {}, class: 'form-control js-user-role-dropdown', autofocus: true
        - if Feature.enabled?(:user_other_role_details)
          .row
            .form-group.col-sm-12.js-other-role-group.hidden
              = f.label :other_role, _('What is your job title? (optional)'), class: 'form-check-label gl-mb-3'
              = f.text_field :other_role, class: 'form-control'
        = render_if_exists "registrations/welcome/setup_for_company", f: f
        = render 'devise/shared/email_opted_in', f: f
        = render_if_exists "registrations/welcome/jobs_to_be_done", f: f
        .row
          .form-group.col-sm-12.gl-mb-0
            - if partial_exists? "registrations/welcome/button"
              = render "registrations/welcome/button"
            - else
              = f.submit _('Get started!'), class: 'btn-confirm gl-button btn btn-block gl-mb-0 gl-p-3', data: { qa_selector: 'get_started_button' }
