- users = capture_haml do
  - if show_user_search_tab?
    = search_filter_link 'users', _("Users")

.scrolling-tabs-container.inner-page-scroll-tabs.is-smaller
  .fade-left= sprite_icon('chevron-lg-left', size: 12)
  .fade-right= sprite_icon('chevron-lg-right', size: 12)
  %ul.nav-links.search-filter.scrolling-tabs.nav.nav-tabs
    - if @project
      - if project_search_tabs?(:blobs)
        = search_filter_link 'blobs', _("Code"), data: { qa_selector: 'code_tab' }
      - if project_search_tabs?(:issues)
        = search_filter_link 'issues', _("Issues")
      - if project_search_tabs?(:merge_requests)
        = search_filter_link 'merge_requests', _("Merge requests")
      - if project_search_tabs?(:wiki)
        = search_filter_link 'wiki_blobs', _("Wiki")
      - if project_search_tabs?(:commits)
        = search_filter_link 'commits', _("Commits")
      - if project_search_tabs?(:notes)
        = search_filter_link 'notes', _("Comments")
      - if project_search_tabs?(:milestones)
        = search_filter_link 'milestones', _("Milestones")
      = users

    - elsif @show_snippets
      = search_filter_link 'snippet_titles', _("Titles and Descriptions"), search: { snippets: true, group_id: nil, project_id: nil }
    - else
      = search_filter_link 'projects', _("Projects"), data: { qa_selector: 'projects_tab' }
      = search_filter_link 'posts', _("V-blog")
      = render_if_exists 'search/category_code' if feature_flag_tab_enabled?(:global_search_code_tab)
      = render_if_exists 'search/epics_filter_link'
      = search_filter_link 'issues', _("Issues") if feature_flag_tab_enabled?(:global_search_issues_tab)
      = search_filter_link 'merge_requests', _("Merge requests") if feature_flag_tab_enabled?(:global_search_merge_requests_tab)
      = render_if_exists 'search/category_wiki' if feature_flag_tab_enabled?(:global_search_wiki_tab)
      = render_if_exists 'search/category_elasticsearch'
      = search_filter_link 'milestones', _("Milestones")
      = users
