%hr.footer-fixed
.container.footer-container
  .footer-links
    - unless public_visibility_restricted?
      = link_to _("Explore"), explore_root_path
      = link_to _("Help"), help_path
    = link_to _("关于 VCO"), about_path
= footer_message
