.comment-item
    .comment-item-timestamp
        #{time_ago_with_tooltip(comment_item.created_at)}

    = icon_for_profile_comment(comment_item)

    = comment_user_info(comment_item)

    .comment-content.d-flex.flex-wrap
        %p
            = remove_javascript(comment_item.content).html_safe
    - if current_user?(comment_item.user)
        .comment-operation
            %span.del
                = link_to post_comment_path(comment_item.post, comment_item), method: :delete, data: { confirm: '确定删除吗?' } do
                    = fa_icon(:trash_alt, 'aria-hidden'=>"true", title:"删除", id:"comment-delete")