<template>
    <div id="collaboration-select">
		<select id="collaboration-mode-groups" name="collaboration-mode-groups" class="form-control selectpicker selectpicker-groups input-xlarge" data-live-search="true">
			<option value="">请选择分组</option>
		</select>
		<select id="collaboration-mode-projects" name="collaboration-mode-projects" class="form-control selectpicker selectpicker-projects input-xlarge" data-live-search="true">
			<option value="">请选择项目</option>
		</select>
		<select id="collaboration-mode-branches" name="collaboration-mode-branches" class="form-control selectpicker selectpicker-branches input-xlarge" data-live-search="true">
			<option value="">请选择项目分支</option>
		</select>
		<select id="collaboration-mode-files" name="collaboration-mode-files" class="form-control selectpicker selectpicker-files input-xlarge" data-live-search="true">
			<option value="">请选择发布文件</option>
		</select>
	</div>
</template>