- has_impersonation_link = header_link?(:admin_impersonation)
- controller_name = controller.controller_name 
- action_name = controller.action_name
- if current_user
    - user_status_data = user_status_properties(current_user)

%nav.navbar.navbar-expand-lg.navbar-light.sticky-top
    .container-fluid.col-md-10.col-md-offset-1{style: 'padding:0px'}
        = link_to image_tag("logo-vco.svg", alt: "VCO", style: "height: 40px"), home_path, target: "_blank", class:"navbar-brand", style: "height: 50px"
        %button{class: "navbar-toggler",type:"button", 'data-toggle'=>"collapse", 'data-target'=>"#navbarSupportedContent", 'aria-controls'=>"navbarSupportedContent", 'aria-expanded'=>"false", 'aria-label'=>"Toggle navigation"}
            %span{class:"navbar-toggler-icon"} 

        .collapse.navbar-collapse#navbarSupportedContent
            %ul.navbar-nav.ml-auto
                - if controller_name.eql?("posts")
                    - if action_name.eql?("show")
                        - if top_nav_show_search
                            - search_menu_item = top_nav_search_menu_item_attrs
                            %li.nav-item.d-none.d-lg-block.m-auto
                            - unless current_controller?(:search)
                                - if Feature.enabled?(:new_header_search)
                                    #js-header-search.header-search{ data: { 'search-context' => search_context.to_json,
                                    'search-path' => search_path,
                                    'issues-path' => issues_dashboard_path,
                                    'mr-path' => merge_requests_dashboard_path,
                                    'autocomplete-path' => search_autocomplete_path } }
                                        %input{ type: "text", placeholder: _('Search or jump to...'), class: 'form-control gl-form-input' }
                                - else
                                    = render 'layouts/search'
                            %li.nav-item{ class: 'd-none d-sm-inline-block d-lg-none' }
                                = link_to search_menu_item.fetch(:href), title: search_menu_item.fetch(:title), aria: { label: search_menu_item.fetch(:title) }, data: {toggle: 'tooltip', placement: 'bottom', container: 'body'} do
                                    = sprite_icon(search_menu_item.fetch(:icon))
                - if controller_name.eql?("posts")
                    - if action_name.eql?("show")
                        %li.nav-item.edit
                            = link_to '编辑', edit_post_path(@post)
                    - elsif action_name.eql?("create")
                        %li.nav-item.publish
                            = link_to "重新发布", "#", 'data-behavior' => "publish-button"
                    - elsif (action_name.eql?("new") or action_name.eql?("edit"))
                        %li.nav-item.post-setting
                            = link_to yield(:publish_button_text), "#"

                %li.nav-item.colloboration-center
                    = link_to '协作中心', root_path, target: "_blank"
                %li.nav-item.help
                    = link_to '帮助', '#', target: "_blank"
                - if header_link?(:user_dropdown)
                    %li.enter.nav-item.header-user.js-nav-user-dropdown.dropdown{ data: { track_label: "profile_dropdown", track_action: "click_dropdown", track_value: "", qa_selector: 'user_menu' }, class: ('mr-0' if has_impersonation_link) }
                        = link_to current_user, class: user_dropdown_class, data: { toggle: "dropdown" } do
                            = image_tag avatar_icon_for_user(current_user, 23), width: 23, height: 23, class: "header-user-avatar qa-user-avatar", alt: current_user.name
                            = sprite_icon('chevron-down', css_class: 'caret-down')
                        .dropdown-menu.dropdown-menu-right
                            = render 'layouts/header/current_user_dropdown'
                - else 
                    %li.nav-item.enter
                        = link_to '登录/注册', new_user_session_path
- if current_user
    - if can?(current_user, :update_user_status, current_user)
        .js-set-status-modal-wrapper{ data: user_status_data }