= form_tag page_filter_path, method: :get, class: "topic-filter-form js-topic-filter-form", id: 'topic-filter-form' do |f|
  = search_field_tag :search, params[:search],
    placeholder: s_('按照名称筛选'),
    class: 'topic-filter-form-field form-control input-short',
    spellcheck: false,
    id: 'topic-filter-form-field',
    autofocus: local_assigns[:autofocus]
