- return unless group.parent_allows_two_factor_authentication?
- docs_link_url = help_page_path('security/two_factor_authentication', anchor: 'enforce-2fa-for-all-users-in-a-group')
- docs_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: docs_link_url }

%h5= _('Two-factor authentication')

%p= s_('%{docs_link_start}什么是双重认证?%{docs_link_end}').html_safe % { docs_link_start: docs_link_start, docs_link_end: '</a>'.html_safe }

.form-group
  = f.gitlab_ui_checkbox_component :require_two_factor_authentication,
      _('要求该组中的所有用户设置双重认证'),
      checkbox_options: { data: { qa_selector: 'require_2fa_checkbox' } }
.form-group
  = f.label :two_factor_grace_period, _('Time before enforced')
  = f.text_field :two_factor_grace_period, class: 'form-control form-control-sm w-auto gl-form-input gl-mb-3'
  .form-text.text-muted= _('允许用户跳过强制配置双因素认证的时间（小时）。')
- unless group.has_parent?
  .form-group
    = f.gitlab_ui_checkbox_component :allow_mfa_for_subgroups,
        _('允许子组设置自己的双重身份验证规则'),
        checkbox_options: { checked: group.namespace_settings&.allow_mfa_for_subgroups }
