.row.empty-state
  .col-12
    .svg-content
      = image_tag 'illustrations/labels.svg', data: { qa_selector: 'svg_content' }
    .text-content.gl-text-center.gl-pt-0!
      %h4= _('还没有标签.')
      %p= _('快去发布一篇V-blog吧，分享让信息更有价值')