- breadcrumb_title _("General settings")
- page_title _("通用设置")
- @content_class = "limit-container-width" unless fluid_layout
- expanded = expanded_by_default?

= render 'shared/namespaces/cascading_settings/lock_popovers'

%section.settings.gs-general.no-animate.expanded#js-general-settings
  .settings-header
    %h4.settings-title.js-settings-toggle.js-settings-toggle-trigger-only{ role: 'button' }
      = _('Naming, visibility')
    %button.btn.gl-button.js-settings-toggle{ type: 'button' }
      = _('Collapse')
    %p
      = _('Update your group name, description, avatar, and visibility.')
      = link_to s_('了解更多关于群组信息'), help_page_path('user/group/index')
  .settings-content
    = render 'groups/settings/general'

%section.settings.gs-permissions.no-animate#js-permissions-settings{ class: ('expanded' if expanded), data: { qa_selector: 'permission_lfs_2fa_content' } }
  .settings-header
    %h4.settings-title.js-settings-toggle.js-settings-toggle-trigger-only{ role: 'button' }
      = _('Permissions, LFS, 2FA')
    %button.btn.gl-button.js-settings-toggle{ type: 'button' }
      = expanded ? _('Collapse') : _('Expand')
    %p
      = _('配置高级权限，大文件存储和双因素身份验证设置。')
  .settings-content
    = render 'groups/settings/permissions'

= render_if_exists 'groups/merge_request_approval_settings', expanded: expanded, group: @group, user: current_user
= render_if_exists 'groups/insights', expanded: expanded

%section.settings.no-animate#js-badge-settings{ class: ('expanded' if expanded) }
  .settings-header
    %h4.settings-title.js-settings-toggle.js-settings-toggle-trigger-only{ role: 'button' }
      = s_('GroupSettings|Badges')
    %button.btn.gl-button.js-settings-toggle{ type: 'button' }
      = expanded ? _('Collapse') : _('Expand')
    %p
      = s_('GroupSettings|Customize this group\'s badges.')
      = link_to s_('GroupSettings|What are badges?'), help_page_path('user/project/badges')
  .settings-content
    = render 'shared/badges/badge_settings'

= render_if_exists 'groups/compliance_frameworks', expanded: expanded
= render_if_exists 'groups/custom_project_templates_setting'
= render_if_exists 'groups/templates_setting', expanded: expanded

%section.settings.gs-advanced.no-animate#js-advanced-settings{ class: ('expanded' if expanded), data: { qa_selector: 'advanced_settings_content' } }
  .settings-header
    %h4.settings-title.js-settings-toggle.js-settings-toggle-trigger-only{ role: 'button' }
      = _('Advanced')
    %button.btn.gl-button.js-settings-toggle{ type: 'button' }
      = expanded ? _('Collapse') : _('Expand')
    %p
      = _('Perform advanced options such as changing path, transferring, exporting, or removing the group.')
  .settings-content
    = render 'groups/settings/advanced'

= render_if_exists 'shared/groups/max_pages_size_setting'

= render 'shared/confirm_modal', phrase: @group.path
