<template>
    <collaboration_form/>
</template>


<script>
    import collaboration_form from './mode/components/form.vue'
    export default {
        components: {
            collaboration_form: collaboration_form
        }
    }
</script>