body[data-page="static_pages:home"]{
    .feed-item {
        overflow: hidden;
        margin-top: 5px;
        margin-bottom: 40px;
        font-size: $gl-font-size;
        padding: 0px;
        color: $gl-text-color-secondary;
        position: relative;
        line-height: $gl-line-height-20;

        .col-md-8, .col-md-4{
            float: left;
            padding: 0px;
        }
      
        .system-note-image {
          position: absolute;
          left: 0;
      
          svg {
            fill: $gl-text-color-secondary;
          }
        }
      
        .system-note-image{
          &.opened-icon,
          &.created-icon {
            svg {
              fill: $green-300;
            }
          }
      
          &.closed-icon svg {
            fill: $red-300;
          }
      
          &.accepted-icon svg {
            fill: $blue-300;
          }
      
          &.commented-on-icon svg {
            fill: $blue-600;
          }
        }
      
        .post-user-info {
          margin-left: 40px;
          height: 20px;
          padding-top: 6px;
          .user-name {
            a {
              color: $gl-text-color;
              font-weight: $gl-font-weight-bold;
            }
          }
        }

        .bottom {
            overflow: hidden;
            .feed-item-timestamp, .sep, .read-time, .tags {
                float: left;
            }
            .sep {
                margin: 0px 3px;
            }
            .tags {
                .tag {
                    a {
                      margin: 0px 2px;
                      font-size: 13px;
                      white-space: nowrap;
                      padding: 2px 8px;
                      border-radius: 100px;
                      color: rgba(117, 117, 117, 1);
                      background-color: rgba(242, 242, 242, 1);
                      line-height: 20px;
                      font-weight: 400;
                      text-decoration: none;

                    }
                   
                }
            }

        }
    
        .feed-title {
            a {
                color: $gl-text-color;
            }
        }

        .col-md-4 {
            width: inherit;
            height: inherit;
            img {
                height: 100%;
                width: 100%;
                object-fit: fill;
                vertical-align: middle;
            }
        }
    }
      
    @include media-breakpoint-down(xs) {
        .feed-item {
            padding-left: 0;
    
            .post-user-info {
                margin-bottom: $gl-padding-4;
            }
    
            .post-title {
                white-space: normal;
                overflow: visible;
                max-width: 100%;
            }
    
            .system-note-image {
                display: none;
            }
    
            .feed-item-timestamp {
            display: none;
            }
        }
    }
}
