/* 
    信息流首页 
*/
body[data-page='static_pages:home'] {
    h1, p {
        margin: 0;
    }
    .feed-navbar {
        background-color: #FFC017;
        border-bottom: 1px solid black;
    }
    
    .navbar-brand {
        display: block;
        width: 167.84px;
        height: 60px;
        img {
            width: 167.84px;
            height: 50px;
        }
    }
    
    .navbar-nav  li  a {
        font-size: 16px;
    }
    // 改变导航栏颜色
    .nav-sticky {
        background-color: white; 
        li {
            a {
                &:hover, &:focus, &:active {
                    color: #449B47;
                    background-color: transparent;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                }
            }
        }
    }
    
      /* 站点介绍区内容 */
    .site-intro {
        background-color: #FFC017;
        border-bottom: 1px solid black;
    
        .site-intro-con {
            height: 400px;
            margin: 0 auto;
            overflow: hidden;
    
            .intro-area {
                float: left;
                width: 550px;
                height: 367px;
                padding-top: 33px;
                .vco-slogan {
                    height: 148px;
                    h1 {
                        font-size: 53px;
                    }
    
                }
    
                .space {
                    height: 53px;
                }
                .vco-slogan-intro {
                    height: 48px;
                    margin-bottom: 25px;
                    p {
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 23px;
                        color: #2A2A29;
                        a {
                            text-decoration: underline;
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 23px;
                            color: #2A2A29;
                        }
                    }
    
                }
                .get_started {
                    height: 42px;
                    .started-con {
                        width: 128px;
                        height: 42px;
                        border: 1px solid black;
                        border-radius: 20px;
                        text-align: center;
                        padding-top: 9px;
                    }
                    a {
                        color: #2A2A29;
                        text-decoration: none;
                        font-size: 14px;
                    }
    
                }
    
    
            }
            .feed-pic-area {
                float: right;
                height: 400px;
                img {
                    height: 316px;
                }
    
            }
        }
    }
    
    // 热搜区域
    .trending {
        border-bottom: 1px solid #E6E6E6;
    }
    
    .trending-con {
            margin: 0 auto;
            padding: 40px 0 16px;
            .titile_desc {
                overflow: hidden;
                height: 29px;
                margin-bottom: 16px;
    
                .trending-pic {
                    float: left;
                    height: 29px;
                    width: 28px;
                    margin-right: 10px;
                    img {
                        height: 29px;
                        width: 28px;
                    }
                }
                .trending-pic-text {
                    float: left;
                    width: 150px;
                    a {
                        color: #2A2A29;
                        text-decoration: none;
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 29px;
                        &:hover {
                            color: #449B47;
                        }
                    }
                    
                }
    
    
            }
    }
    
    // 主题区域
    .feed-tag-con {
        padding-bottom: 24px;
        border-bottom: 1px solid #D8D8D8;
        .desc {
            padding: 10px 0px;
            overflow: hidden;
            h3 {
                float: left;
                margin: 0;
                font-size: 20px;
                line-height: 30px
            }
            #tags-refresh {
                float: right;
                font-size: 20px;
                line-height: 30px;
                cursor: pointer;
            }
            border-bottom: 1px solid #D8D8D8;
            margin-bottom: 16px;
        }
        .tags-dispaly-area {
            overflow: hidden;
            .tag-detail {
                float: left;
                margin: 0 8px 8px 0;
                border-radius: 100px;
                padding: 2px 8px;
                white-space: nowrap;
                border-radius: 100px;
                background-color: rgba(242, 242, 242, 1);
                a {
                    line-height: 20px;
                    font-weight: 400;
                    display: block;
                    text-decoration: none;
                    font-size: 16px;
                    color: rgba(117, 117, 117, 1);
                }
            }
        }
        .tag-all {
            margin-top: 16px;
            height: 20px;
            a {
                text-decoration: none;
                font-size: 16px;
                line-height: 20px;
                color: #449B47;
            }
        }
    
    
    }
    
    /* 浮动主题区 */
    .tag-sticky {
        position: fixed;
        top: 0;
        width: 100%;
        padding-top: 90px;
    
        margin-left: 802.69px;
        width: 397.31px;
    }
}

