body[data-page="static_pages:home"] {

    #hot-refresh {
        margin-left: 5px;
        cursor: pointer;
    }
    .popular-item {
        margin-top: 5px;
        margin-bottom: 40px;
        font-size: $gl-font-size;
        padding: 0px;
        color: $gl-text-color-secondary;
        position: relative;
        line-height: $gl-line-height-20;

        .col-md-4{
            padding: 0px;
            overflow: hidden;
        }
        .col-md-1, .col-md-11 {
            float: left;
            padding: 0px;
        }

        .col-md-1 {
            .post-index {
                span {
                    line-height: 30px;
                    font-size: 26px;
                    font-weight: bold;
                    color: #E6E6E6;
                }
            }
        }

        .system-note-image {
            position: absolute;
            left: 0;
        
            svg {
              fill: $gl-text-color-secondary;
            }
          }
        
          .system-note-image{
            &.opened-icon,
            &.created-icon {
              svg {
                fill: $green-300;
              }
            }
        
            &.closed-icon svg {
              fill: $red-300;
            }
        
            &.accepted-icon svg {
              fill: $blue-300;
            }
        
            &.commented-on-icon svg {
              fill: $blue-600;
            }
          }
        
          .post-user-info {
            margin-left: 40px;
            height: 20px;
            padding-top: 6px;
            .user-name {
              a {
                color: $gl-text-color;
                font-weight: $gl-font-weight-bold;
              }
            }
          }

          .bottom {
            overflow: hidden;
            .popular-item-timestamp, .sep, .read-time, .tags {
                float: left;
            }
            .sep {
                margin: 0px 3px;
            }
            .tags {
                .tag {
                    a {
                      margin: 0px 2px;
                      font-size: 13px;
                      white-space: nowrap;
                      padding: 2px 8px;
                      border-radius: 100px;
                      color: rgba(117, 117, 117, 1);
                      background-color: rgba(242, 242, 242, 1);
                      line-height: 20px;
                      font-weight: 400;
                      text-decoration: none;

                    }
                   
                }
            }

        }

        .popular-title {
            a {
                color: $gl-text-color;
            }
        }

    }

    @include media-breakpoint-down(xs) {
        .popular-item {
            padding-left: 0;
    
            .post-user-info {
                margin-bottom: $gl-padding-4;
            }
    
            .post-title {
                white-space: normal;
                overflow: visible;
                max-width: 100%;
            }
    
            .system-note-image {
                display: none;
            }
    
            .popular-item-timestamp {
                display: none;
            }
        }
    }
}