// Place all the styles related to the post_tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body[data-page="post_tags:index"] {
    #tag_head {
        overflow: hidden;
        border-bottom: 1px solid #dbdbdb;
        .page-title-holder {
            border-bottom: none;
            float: left;
            width: 50%;
        }
        .nav-controls {
            margin-top: 16px;
            float: right;
        }
    }
}