body[data-page="static_pages:home"] {
    #navbarSupportedContent {
        .search-form {
            padding-top: 2px;
            .form-control {
                border: solid 1px rgb(217,217,217);
                border-radius: 100px;
                background-color: #fff;
                box-shadow: 0 2px 15px rgba(43, 42, 42, 0.15);
                #search {
                    &::placeholder {
                        color: rgb(117,117,117);
                    }
                }
            }

            svg {
                fill: rgba(146, 146, 151, 0.8);
            }
        }
        
    }
}