- @hide_top_links = false
- @no_container = true
- page_title    @topic.name, _("主题")
- max_topic_name_length = 50

= render_dashboard_ultimate_trial(current_user)

.gl-text-center.gl-bg-gray-10.gl-pb-2.gl-pt-6
  .gl-pb-5.gl-align-items-center.gl-justify-content-center.gl-display-flex
    .avatar-container.rect-avatar.s60.gl-flex-shrink-0
      = topic_icon(@topic, alt: _('Topic avatar'), class: 'avatar topic-avatar s60')
    - if @topic.name.length > max_topic_name_length
      %h1.gl-mt-3.str-truncated.has-tooltip{ title: @topic.name }
        = truncate(@topic.name, length: max_topic_name_length)
    - else
      %h1.gl-mt-3
        = @topic.name
  - if @topic.description.present?
    .topic-description.gl-ml-4.gl-mr-4
      = markdown(@topic.description)

%div{ class: container_class }
  .gl-py-5.gl-border-gray-100.gl-border-b-solid.gl-border-b-1
    %h3.gl-m-0= _('当前主题下的项目')
  .top-area.gl-pt-2.gl-pb-2
    .nav-controls
      = render 'shared/projects/search_form'
      = render 'shared/projects/dropdown'
      = render 'filter'

  = render 'projects', projects: @projects
