.col-6.col-md-4.popular-item
    .col-6.col-md-1
        .post-index
            %span
                %i
                    0#{number}
    .col-6.col-md-11
        = icon_for_profile_post(popular_item)

        = post_user_info(popular_item)

        .popular-title.d-flex.flex-wrap
            %h3
                = link_to popular_item.title, post_path(popular_item), target: "_blank"
        .bottom
            .popular-item-timestamp
                #{time_ago_with_tooltip(popular_item.created_at)}
            .sep
                %span
                    ·
            .read-time
                %span
                    阅读约#{reading_time(remove_javascript(popular_item.content).html_safe)}分钟
            - unless popular_item.post_tags.empty?
                .sep
                    %span
                        ·
                .tags
                    - popular_item.post_tags.each do |tag|
                        %span.tag
                            = link_to "#{tag.name}", post_tag_path(tag), target: "_blank"   