- if @popular_items.any?
    .row
        - @popular_items.each_with_index do |popular_item, index|
            = render 'static_pages/popular/popular_item', number: index + 1, popular_item: popular_item
- else
    .feeds-empty 
        %h4 
            还没有任何内容