- remote = local_assigns.fetch(:remote, false)

- if @tags.empty?
  = render 'post_tags/empty_states/tags'
- else
  .row.gl-mt-3
    = render partial: 'tag', collection: @tags

  = paginate_collection @tags, remote: remote