- max_tag_name_length = 30
- detail_page_link = post_tag_path(tag)

.col-lg-3.col-md-4.col-sm-12
  .gl-card.gl-mb-5
    .gl-card-body.gl-display-flex.gl-align-items-center
      .avatar-container.rect-avatar.s40.gl-flex-shrink-0
        = link_to detail_page_link do
          = tag_icon(tag, class: "avatar s40")
      = link_to detail_page_link do
        - if tag.name.length > max_tag_name_length
          %h5.str-truncated.has-tooltip{ title: tag.name }
            = truncate(tag.name, length: max_tag_name_length)
        - else
          %h5
            = tag.name