- @hide_top_links = true
- @hide_breadcrumbs = true
- page_title    _("V-blog标签")
- header_title  _("V-blog标签"), post_tags_path

= render_dashboard_ultimate_trial(current_user)

= render 'head'

= render partial: 'tags'