- @hide_top_links = false
- @hide_breadcrumbs = true
- @no_container = true
- page_title    @tag.name, _("V-blog标签")
- max_tag_name_length = 50

= render_dashboard_ultimate_trial(current_user)

.gl-text-center.gl-bg-gray-10.gl-pb-2.gl-pt-6
  .gl-pb-5.gl-align-items-center.gl-justify-content-center.gl-display-flex
    .avatar-container.rect-avatar.s60.gl-flex-shrink-0
      = tag_icon(@tag, alt: _('Tag avatar'), class: 'avatar tag-avatar s60')
    - if @tag.name.length > max_tag_name_length
      %h1.gl-mt-3.str-truncated.has-tooltip{ title: @tag.name }
        = truncate(@tag.name, length: max_tag_name_length)
    - else
      %h1.gl-mt-3
        = @tag.name

%div{ class: container_class }
  .gl-py-5.gl-border-gray-100.gl-border-b-solid.gl-border-b-1
    %h3.gl-m-0= _('当前标签下的V-blog')
  .top-area.gl-pt-2.gl-pb-2
    .nav-controls
      = render 'search_form'
  - if @posts.any?
    = render partial: 'search/results/post', collection: @posts
  = paginate_collection(@posts)
