.page-title-holder.d-flex.flex-wrap.justify-content-between
  %h1.page-title.mr-3= _('从协作中心选择')

.gl-mt-3
  #js-publish-collaboration{ data: {"current-user-namespace": current_user.namespace.to_json}}
  .dispaly 
    %h3 
      内容预览
  #js-collaboration-content-preview