%button.btn.m-5.btn-primary#comment-modal.hidden{'data-toggle'=>"modal", 'data-target'=>"#exampleModalRight"}
    评论区
.modal.fade.drawer.right-align#exampleModalRight{tabindex: "-1", role:"dialog", 'aria-labelledby'=>'exampleModalLabel', 'aria-hidden'=>"true"}
    .modal-dialog{role:"document"}
        .modal-content
            .modal-header
                %h3.modal-title#exampleModalLabel
                    = "所有评论(#{post.comments.count})"
                %button.close{'data-dismiss'=>"modal", 'aria-label'=>"Close"}
                    %span{'aria-hidden'=>"true"}
                        &times;
            .modal-body
                .comment-create
                    = render 'comment_form', post: post
                .divider{style:"margin:10px 0px 15px"}
                .dispaly-area#comments_list
                    .flash-container
                    - unless post.comments.count.eql?(0)
                        %h4.prepend-top-20
                            = s_('最新评论')
                    .content_list{ data: { href: post_comments_path(post) } }
                    .loading
                        .gl-spinner.gl-spinner-md