.col-xs-10.col-sm-10.col-md-10.offset-md-1.offset-sm-1.offset-xs-1
    = form_with model: [ post, post.comments.build ], class: "comment-form" do |form|
        .form-group#comment-area
            %span#commentErr.error 
            = form.text_area :content, id: "medium-editable-comment", class: 'medium-editable-comment'
        #publish-comment
            %button.btn.btn-primary.disabled
                发表评论