= form_with(model: @post, local:true, html: { multipart: true, class: "editor-form", data: { page: 'main-editor' }, autocomplete: "off" }) do |form|
  - if @post.errors.any?
    .error
      %h2
        #{@post.errors.count}个错误
      %ul
        - @post.errors.full_messages.each do |msg|
          %li
            = msg
  
  %label.post-picture-upload
    = form.file_field :picture, id: "post_picture"
    = fa_icon(:camera)
  
  %label.post-picture-upload-cancel.hidden
    = fa_icon(:times)

  .file-upload-previewer.hidden
    %img{src: "", id:"image_preview"}
  - if post.picture?
    .existing-img-previewer#existing-img-previewer
      = image_tag @post.picture_url
  .form-group
    %span#titleErr.error 
    = form.text_field :title, id: "editor-title", class: "editor-title", placeholder: '标题'
  .form-group#content-area
    %span#contentErr.error 
    = form.text_area :content, id: "medium-editable", class: 'medium-editable'

  .form-group.hidden
    = form.text_area :lead, id: "post-lead-info"
    
  .form-group.hidden
    = form.text_field :tag_list, id: "post-tag-info"