- if @posts.any?
    = render partial: 'posts/post', collection: @posts
- else
    .js-posts-list-holder{ data: { qa_selector: 'posts_list' } }
        .nothing-here-block
            .svg-content
                = image_tag "illustrations/profile-page/personal-project.svg", size: '75'
                .text-content
                - if user_profile? && current_user.present? && current_user.username == params[:username]
                    %h5= "您还没有发布自己的V-blog"

                    %p= "可以分享自己的想法、经验、观点等，并同他人实现有价值的协作"

                    = link_to "发布V-blog", new_post_path, class: 'gl-button btn btn-confirm'
                - else
                    %h5= "他还没有发布V-blog,请持续关注!"
