#author-intro 
    #user-posts
        = link_to user_posts_path(post.user), target: "_blank" do 
            %h2
                = "#{post.user.name}的V-blog"
    #email{style:"margin:0"} 
        = fa_icon(:envelope, type: :regular, 'aria-hidden'=>"true")
        %sapn
            = post.user.email

    #bio 
        %p{style:"margin:0"} 
            -if !post.user.bio.empty?
                = post.user.bio
            
            - else
                作者还没有相关介绍
    #reaidng-count
        = fa_icon(:eye, 'aria-hidden'=>"true")
        %span.count
                
    - if current_user && current_user.id != post.user.id
        - if current_user.following?(post.user)
            #following
                = link_to user_unfollow_path(post.user, :json) , method: :post do
                    = _('取消关注')
                %span
                    %svg{width: "21", height: "21", viewBox: "0 0 21 21", class:"bv"}
                        %path{d:"M4 7.33L10.03 14l.5.55.5-.55 5.96-6.6-.98-.9-5.98 6.6h1L4.98 6.45z", 'fill-rule'=>'evenodd'}
        - else
            #follow
                = link_to user_follow_path(post.user, :json) , method: :post, data: { qa_selector: 'follow_user_link' } do
                    = _('关注')