.post-item
    .post-item-timestamp
        #{time_ago_with_tooltip(post.created_at)}

    = icon_for_profile_post(post)

    = post_user_info(post)

    .post-title.d-flex.flex-wrap
        %h3
            = link_to post.title, post_path(post), target: "_blank"
    - if current_user?(post.user)
        .post-operation
            %span.edit
                = link_to edit_post_path(post), target: "_blank" do
                    = fa_icon(:edit, 'aria-hidden'=>"true", title:"编辑")
            %span.del
                = link_to post, method: :delete, data: { confirm: '确定删除吗?' }  do
                    = fa_icon(:trash_alt, 'aria-hidden'=>"true", title:"删除")