- page_title       "编辑V-blog:#{@post.title}"
- provide(:publish_button_text, "更新")
= render 'layouts/posts/editor_header'
.progress-bar{'data-behavior' => "progress-bar"}

.container-fluid
    %div{'data-animation' => 'fadeInUp-fadeOutDown'}
        .col-xs-10.col-sm-10.col-md-6.offset-md-3.offset-sm-1.offset-xs-1
            = render 'posts/modal/modal_form'
            = render 'form', post: @post
