- page_title       "发布V-blog"
- provide(:publish_button_text, "发布")
= render 'layouts/posts/editor_header'
.progress-bar{'data-behavior' => "progress-bar"}

.col-xs-1.col-sm-1.col-md-1.offset-md-10.offset-sm-10.offset-xs-10
    %input{id:"publish-mode-toggle", type: "checkbox", checked: false, 
        'data-toggle'=>"toggle", 'data-on'=>"协作模式", 
            'data-off'=>"默认模式", 'data-onstyle'=>"success", 'data-offstyle'=>"primary"}
.container-fluid
     
    %div{'data-animation' => 'fadeInUp-fadeOutDown'}
        = render 'posts/modal/modal_form'
        #publish-mode-default.col-xs-10.col-sm-10.col-md-6.offset-md-3.offset-sm-1.offset-xs-1
            = render 'form', post: @post
        #publish-mode-collaboration.hidden.col-xs-10.col-sm-10.col-md-6.offset-md-3.offset-sm-1.offset-xs-1
            = render 'collaboration'
