- page_title       @post.title
= render 'layouts/posts/editor_header'
= render 'layouts/flash'
.progress-bar{'data-behavior' => "progress-bar"}

= render 'post_float', post: @post
= render 'comment', post: @post
.container-fluid
    .col-xs-10.col-sm-10.col-md-6.offset-md-3.offset-sm-1.offset-xs-1
        #article
            .title
                %h1
                    = @post.title
            .author
                = render 'author', post: @post
            - if @post.picture?
                .cover-picture 
                    = image_tag @post.picture_url
            - if @post.lead?
                .lead
                    %p
                        %i 
                            = @post.lead
            .content 
                = remove_javascript(@post.content).html_safe
