%button.btn.m-5.btn-primary#post-setting-modal.hidden{'data-toggle'=>"modal", 'data-target'=>"#postSetting"}
    V-blog信息设置
.modal.fade#postSetting{tabindex:"-1", 'aria-labelledby'=>"postSettingLabel", 'aria-hidden'=>"true"}
    .modal-dialog
        .modal-content
            .modal-header
                %h4.modal-title#postSettingLabel{style:"line-height: 30px;"}
                    V-blog信息设置
                %button.close{'data-dismiss'=>"modal", 'aria-label'=>"Close"}
                    %span{'aria-hidden'=>"true"}
                        &times;
            .modal-body
                %form
                    .form-group
                        %label.col-form-label{for:"post-tag"}
                            标签:
                        %input.form-control#post-tag{type:"text", placeholder: '创业, 旅游, NBA, python...'}
                    -# .form-group
                    -#     %label.col-form-label{for:"post-topic"}
                    -#         主题:
                    -#     %select.form-control#post-topic
                    -#         %option{value:""}
                    -#             = _("--请选择主题--")
                    -#         %option{value: "startup"}
                    -#             创业
                    -#         %option{value: "art"}
                    -#             艺术
                    -#         %option{value: "game"}
                    -#             游戏
                    .form-group 
                        %label.col-form-label{for:"post-lead"}
                            导读:
                        %span#leadErr.error
                        %textarea.form-control#post-lead
            .modal-footer
                %button.btn.btn-secondary{'data-dismiss'=>"modal", 'data-behavior' => "cancel-button"}
                    取消
                %button.btn.btn-primary#make-publish{'data-behavior' => "publish-button"}
                    确认