.post-item
    .post-item-timestamp
        #{time_ago_with_tooltip(post.created_at)}

    = icon_for_profile_post(post)

    = post_user_info(post)

    .post-title.d-flex.flex-wrap
        %h3
            = link_to post.title, post_path(post), target: "_blank"
    .post-lead.d-flex.flex-wrap  
        %p
            = post.lead