!!! 5
%html.devise-layout-html{ class: system_message_class }
  = render "layouts/head", { startup_filename: 'signin' }
  %body.ui-indigo.login-page.application.navless{ class: "#{client_class_list}", data: { page: body_data_page, qa_selector: 'login_page' } }
    = header_message
    = render "layouts/init_client_detection_flags"
    .page-wrap
      = render "layouts/header/empty"
      .login-page-broadcast
        = render "layouts/broadcast"
      .container.navless-container
        .content
          = render "layouts/flash"
          .row.mt-3
            .col-sm-12
              %h1.mb-3.font-weight-normal
                = current_appearance&.title.presence || _('VCO')
          .row.mb-3
            .col-sm-7.order-12.order-sm-1.brand-holder
              - unless recently_confirmed_com?
                = brand_image
                - if current_appearance&.description?
                  = brand_text
                - else
                  %h3.gl-sm-mt-0
                    = _('一个信息流协作平台，可以深度分享信息的地方')

                  %p
                    = _('阅读、协作、分享新的观点、想法、经验，每个人都能够参与到有价值的信息生产中.')

                  %p
                    = _('看见更多可能...')

              - if Gitlab::CurrentSettings.sign_in_text.present?
                = markdown_field(Gitlab::CurrentSettings.current_application_settings, :sign_in_text)

              = render_if_exists 'layouts/devise_help_text'

            .col-sm-5.order-1.new-session-forms-container{ class: recently_confirmed_com? ? 'order-sm-first' : 'order-sm-12' }
              = yield

      = render 'devise/shared/footer', footer_message: footer_message
