- page_classes = page_class << @html_class
- page_classes = page_classes.flatten.compact
- body_classes = [user_application_theme, user_tab_width, @body_class, client_class_list]

!!! 5
%html{ lang: I18n.locale, class: page_classes }
  = render "layouts/head_feed"
  %body{ class: body_classes, data: body_data }
    = yield